{% extends 'layout.html' %}

 {% block title %}
 <!-- TODO TODO TODO TODO -->
    add title here
 {% endblock %}

 {% block style %}
  <style>
     /* <!-- style in head goes here --> */
  </style>
  {% endblock %}

  {% block main %}
  <!-- main block goes here -->
  <div class="beigeone container1 center cantsee ">
    <h1>What is Resumery?</h1>
    <br>
    <h4>Resumery is a tool that leverages the power of Google Gemini(Flash 1.5)
        to read a college essay and give pointers. Designed with YOU in mind, 
        this essay reader can help you understand the broad ideas and main points
        of your essay, giving feedback to help you better your essay. 
    </h4>
    <h2>What does Resumery look for?</h2>
    <hr>
    <h4>Resumery looks out </h4>
  </div>
  {% endblock %}