{% extends 'layout.html' %}

{% block title %}
   check
{% endblock %}

{% block style %}
 <style>
    /* <!-- style in head goes here --> */
 </style>
 {% endblock %}

 {% block main %}
    <div class="beigeone container1 center cantsee ">
        <h1>Check here</h1>
        <!-- post form here -->
         <div class="down">
            <form method="POST" href="/check/me">
               <!-- name -->
               <label for="fname">Essay name:</label>
               <input type="text" id="0" name="name" required>
               <!-- content -->
                <br>
               <h4 for="fname">Essay here:</h4>
               <textarea type="text"  id="1" name="essay" class="bigger fromtop" minlength="200" placeholder="Start typing here, or paste your essay" required></textarea>
               <br>
               <button class="btn">Submit here</button>
            </form>
         </div>
    </div>
 {% endblock %}