<!-- what is this website graded upon? -->
{% extends 'layout.html' %}

{% block title %}
   Grades
{% endblock %}

{% block style %}
 <style>
    /* <!-- style in head goes here --> */
 </style>
 {% endblock %}

 {% block main %}
    <!-- gives brief overview of what each grading system is -->
     <h1>How are these pages graded?</h1>
     <h6>Each essay is carefully checked, and leverages Google Gemini's API to deepen understanding of the whole essay</h6>
     <br>
     <table class="me">
        <tr>
            <th width="10%">Standard</th>
            <th>Score: 0</th>
            <th>Score: 2</th>
            <th>Score: 4</th>
            <th>Score: 6</th>
            <th>Score: 8</th>
            <th>Score: 10</th>
        </tr>
        <tr>
            <th>Hook</th>
            <th>The hook was not relavent to any </th>
        </tr>
        <tr>
            <th>Hook description</th>
        </tr>
        <tr>
            <th>Use of adjectives</th>
        </tr>
        <tr>
            <th>Depiction of author's change</th>
        </tr>
        <tr>
            <th>Amount of adjectives</th>
        </tr>
     </table>
 {% endblock %}