<!-- what is this website graded upon? -->
{% extends 'layout.html' %}

{% block title %}
   Grades
{% endblock %}

{% block style %}
 <style>
    /* <!-- style in head goes here --> */
 </style>
 {% endblock %}

 {% block main %}
    <!-- gives brief overview of what each grading system is -->
     <h1>How are these pages graded?</h1>
     <h6>Each essay is carefully checked, and leverages Google Gemini's API to deepen understanding of the whole essay</h6>
     <br>
     <table class="me">
        <tr>
            <th width="10%">Standard</th>
            <th width="20%">Score: 0</th>
            <th>Score: 2</th>
            <th>Score: 4</th>
            <th>Score: 6</th>
            <th>Score: 8</th>
            <th>Score: 10</th>
        </tr>
        <tr>
            <th>Hook</th>
            <!-- 0 -->
            <th><h4>The hook was not relavent to both the essay and the introduction. 
                Profanity was used, and the essay was insulting others and/or was a nonsensical sentence.</h4></th>
            <!-- 2 -->
            <th><h4>The hook had the notion of a hook, but was not coherent enough to start the essay
                the sentence was confusing and a little nonsensical / boring.</h4>
            </th>  
             <!--4  -->
            <th><h4>The hook was generic, and did not fully relate to the claim. The hook does not engage the 
                reader and does not introduce the author. The opening(possibly) uses overused introductions.</h4>
            </th> 
            <!-- 6 -->
            <th><h4>The hook was slightly generic, and did not fully relate to the claim. There were a few emotions, but 
                there have been more to enhance the essay
            </h4>
            </th> 
            <!-- 8 -->
            <th><h4>The hook was detailed, and fulfilled the basic requirements - good description, emotions, and little to improve upon
            </h4>
            </th> 
            <!-- 10 -->
            <th><h4>The hook goes above and beyond the following elements: It was effective and compelling, inviting the reader to read further, 
                past the introduction. It smoothly takes on a topic and introduces the reader in such a way that there are no ambiguities. 
            </h4>
            </th> 
        </tr>
        <tr>
            <th>Hook description</th>
            <!-- 0 -->
             <th><h4>The hook's description did not include anything about the hook. It was a seperate sentence from the previous and after statements.
                There was(possibly) profanity, and did not include anything about themselves or an allusion to their changes
             </h4></th>
              <!-- 2 -->
              <th><h4>The hook's description included little about the hook. It hinted at the hook, and did a poor job connecting thoughts into a readable 
                content. There was(possibly) profanity, and did not much about themselves or an allusion to their changes. 
             </h4></th>
             <!-- 4 -->
              <th><h4>The author did not fully explain their hook. The description is a jumble of words that do not seem to connect with each other
                - the hook felt like a seperate part of the introduction and beggining description.</h4></th>
              <!-- 6 -->
               <th><h4>The description expands a little onto the hook's creativity and idea. However, their goals and directions(for the future) were not clear</h4></th>
             <!-- 8 -->
              <th><h4>The description added/explained the hook's picture, and the author's intentions/goals were clearly stated/understood</h4></th>
              <!-- 10 -->
               <th><h4>The author wrote a well written hook - There were examples of how</h4></th>
        </tr>
        <tr>
            <th>Depiction of author's change</th>
            <!-- 0 -->
             <th><h4>The author did not explain their change. They did not explain how they became a better person, or even
                their struggles, or even attempted to do this.
             </h4></th>
            <!-- 2 -->
             <th><h4>The author did not explain their change, or was a small change. They did not explain their struggles, and feelings, but effort could be seen.
             </h4></th>
            <!-- 4 -->
             <th><h4>The author did not concisely tie their hook and experience. Their change was confusing, and each paragraph did not connect well. </h4></th>
            <!-- 6 -->
             <th><t4>The author's change is partially ambiguous. Instances mentioned in different parts of the story were not related, or very strong. 
                The author did not completely explain how they changed</t4></th>
            <!-- 8 --><<<<<<<<<<<<<<<<
             <!-- 10 --><<<<<<<<<<<<
        </tr>
        <tr>
            <th>Overall detail use</th>
            <!-- 0 -->
             <th><h4>The author did not explain any of their elements, or was a jumbled mess of words. No effort could be seen.</h4></th>
            <!-- 2 -->
             <th><h4>The author described few points about each of their elements. Some effort could be seen.</h4></th>
             <!-- 4 -->
            <th><h4>The author's descriptions were either lacking, or was not concise. There was not a well-balanced description</h4></th>
            <!-- 6 -->
             <th><h4>The author's descriptions were vivid, or had a moderate set of description. There was a moderate balance of both the author's growth
                 and their surrounding elements.</h4></th>
            <!-- 8 --><<<<<<<<<<<<<<<<<<<<<<<<
             <!-- 10 --><<<<<<<<<<<<<<<<<<<<<<<<
        </tr>
     </table>
 {% endblock %}