<!-- what is this website graded upon? -->
{% extends 'layout.html' %}

{% block title %}
   Grades
{% endblock %}

{% block style %}
 <style>
    /* <!-- style in head goes here --> */
 </style>
 {% endblock %}

 {% block main %}
    <!-- gives brief overview of what each grading system is -->
     <h1>How are these pages graded?</h1>
     <h6>Each essay is carefully checked, and leverages Google Gemini's API to deepen understanding of the whole essay</h6>
     <br>
     <table class="me">
        <tr>
            <th width="10%">Standard</th>
            <th width="20%">Score: 0</th>
            <th>Score: 2</th>
            <th>Score: 4</th>
            <th>Score: 6</th>
            <th>Score: 8</th>
            <th>Score: 10</th>
        </tr>
        <tr>
            <th>Hook</th>
            <!-- 0 -->
            <th><h4>The hook was not relavent to both the essay and the introduction. 
                Profanity was used, and the essay was insulting others and/or was a nonsensical sentence.</h4></th>
            <!-- 2 -->
            <th><h4>The hook had the notion of a hook, but was not coherent enough to start the essay
                the sentence was confusing and a little nonsensical / boring.</h4>
            </th>  
             <!--4  -->
            <th><h4>The hook was generic, and did not fully relate to the claim. The hook does not engage the 
                reader and does not introduce the author. The opening(possibly) uses overused introductions.</h4>
            </th> 
            <!-- 6 -->
            <th><h4>The hook was slightly generic, and did not fully relate to the claim. There were a few emotions, but 
                there have been more to enhance the essay
            </h4>
            </th> 
            <!-- 8 -->
            <th><h4>The hook was detailed, and fulfilled the basic requirements - good description, emotions, and little to improve upon
            </h4>
            </th> 
            <!-- 10 -->
            <th><h4>The hook goes above and beyond the following elements: It was effective and compelling, inviting the reader to read further, 
                past the introduction. It smoothly takes on a topic and introduces the reader in such a way that there are no ambiguities. 
            </h4>
            </th> 
        </tr>
        <tr>
            <th>Hook description</th>
            <!-- 0 -->
             <th><h4>The hook's description did not include anything about the hook. It was a seperate sentence from the previous and after statements.
                There was(possibly) profanity, and did not include anything about themselves or an allusion to their changes
             </h4></th>
              <!-- 2 -->
              <th><h4>The hook's description included little about the hook. It hinted at the hook, and did a poor job connecting thoughts into a readable 
                content. There was(possibly) profanity, and did not much about themselves or an allusion to their changes. 
             </h4></th>
             <!-- 4 -->
              <th><h4></h4></th>
        </tr>
        <tr>
            <th>Use of adjectives</th>
        </tr>
        <tr>
            <th>Depiction of author's change</th>
        </tr>
        <tr>
            <th>Amount of adjectives</th>
        </tr>
     </table>
 {% endblock %}